{% load static %}

<link rel="stylesheet" href="{% static 'dobox/style.css' %}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% if user.is_authenticated %}
    <div class="container-fluid header">
        <div class="row">
            <div class="col">
                <nav class="navbar">
                    <a href="#" class="navbar-brand">Dobox</a>
                    <ul class="navbar-nav">
                        <li><a href="#" class="nav-link">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="user-general">
                    <div class="card welcome">
                        <p><img src="{% static 'dobox/images/money_plant.png' %}" alt="money_plant"></p>
                        <p><h3>Welcome, <br><span class="username-display">{{ user.username }}</span>!</h3></p>
                    </div>
                    <div class="card">
                        <h2>Budget</h2>
                        <div class="budget"><h4><span class="budget-num">${{ user.budget_info.budget }}</span></h4></div>
                        <form method="post" class="budget-form" name="budget-form">
                            {% csrf_token %}
                            <p>{{ budgetForm.budget }}</p>
                            <input type="submit" class="budget-submit" value="Create Budget">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="trans-info">
                    <h2>Transactions</h2>
                    <ul class="transactions">
                        {% for t in user.transaction_set.all %}
                            <li>
                                {% if t.type == "spendings" %}
                                    {{ t.transaction }}<span class="spent">-${{ t.amount }}</span>
                                {% else %}
                                    {{ t.transaction }}<span class="earned">+${{ t.amount }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <form method="post" class="trans-form" name="trans-form">
                        {% csrf_token %}
                        <p>{{ form.transaction_name }}</p>
                        <p>{{ form.amount }}</p>
                        <p>
                            <select name="trans-type" id="trans-type" required>
                                <option value="">Select type</option>
                                <option value="spendings">Spent</option>
                                <option value="earnings">Earned</option>
                            </select>
                        </p>
                        <input type="submit" class="trans-submit" value="Add transaction">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% else %}
    <p>Welcome to dobox! <a href="{% url 'dobox:signin' %}">Please login.</a></p>
{% endif %}

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="{% static 'dobox/app.js' %}"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->