{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}.</p>
    <h1>Transactions</h1>
    <ul>
        {% for t in user.transaction_set.all %}
        <li>
            {{ t.transaction }} | {{ t.amount }}
        </li>
        {% endfor %}
    </ul>
    <form method="post" class="trans-form" name="trans-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="trans-submit" value="Add transaction">
    </form>
{% else %}
    <p>Welcome to dobox! <a href="{% url 'dobox:signin' %}">Please login.</a></p>
{% endif %}