{% load static %}

<link rel="stylesheet" href="{% static 'dobox/style.css' %}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<form method="post" class="auth_form" novalidate>
    <img src="{% static 'dobox/images/money_plant.png' %}" alt="money_plant">
    {% csrf_token %}
    <p>{{ form.first_name }}</p>
    {{ form.first_name.errors }}
    <p>{{ form.last_name }}</p>
    {{ form.last_name.errors }}
    <p>{{ form.email }}</p>
    {{ form.email.errors }}
    <p>{{ form.username }}</p>
    {{ form.username.errors }}
    <p>{{ form.password1 }}</p>
    <p>{{ form.password2 }}</p>
    {{ form.password1.errors }}
    {{ form.password2.errprs }}
    <input type="submit" value="Sign up">
    <p><a href="{% url 'dobox:signin' %}">Already have an account? Sign in.</a></p>
</form>
<!--</div>-->
