{% load static %}

<link rel="stylesheet" href="{% static 'dobox/style.css' %}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<form method="post" class="auth_form" novalidate>
    <img src="{% static 'dobox/images/money_plant.png' %}" alt="money_plant">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>{{ form.username }}</p>
    {{ form.username.errors }}
    <p>{{ form.password }}</p>
    {{ form.password.errors }}
    <input type="submit" value="Sign in">
    <p><a href="{% url 'dobox:signup' %}">Don't have an account? Sign up.</a></p>
</form>