body {
    background-color: #ececec;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    color: #555;
}

a {
    color: #637D56;
}

.auth_form {
    font-size: 13px;
    padding: 30px;
    text-align: center;
}

.auth_form img {
    width: 120px;
    background-image: #fff;
}

input[type='text'], input[type='password'], input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #CACCB6;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #45563d;
    border: 2px solid #CACCB6;
    border-radius: 5px;
}

input[type='text']:focus, input[type='password']:focus {
    border: 2px solid #45563d;
    outline: none;
}

input[type='submit'] {
    background-color: #637D56;
    padding: 12px;
    color: white;
    border: none;
    text-transform: uppercase;
}

@media only screen and (min-width:640px) {
    body {
        background-color: #fff; /*83986B;*/
    }

    .auth_form {
        background-color: #ececec;
        width: 300px;
        padding: 30px;
        margin: 50px auto;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #bbb; /*66795d;*/
    }

    .auth_form img {
        width: 150px;
    }
}